body{
    margin: auto;
}
.container1
{
    height: 500px;
    width: 500px;
    background-color: bisque;
    float: left;
    margin: 10px;
}
.container2
{
    height: 500px;
    width: 500px;
    background-color: aliceblue;
    float: left;
    margin: 10px;
    padding-top: 20px;
}

button{
    display: inline;
}
textarea
{
    display: block;
    margin-top:20px;
    resize: none;
}

.cardContainer
{
    margin-top: 10px;
    height: 80px;
    width: 100px;
    background-color: aqua; 
    border-radius: 0.3em;
    font-family: sans-serif;
    font-size: 12px;
}